## Packages

In [1]:
import pandas as pd
import re

## Load datasets

### Corpus

In [2]:
file_name = "PtLanka.csv"
column_name = "SriLanka_creole"

word_df = pd.read_csv(file_name, keep_default_na=False)
word_df = word_df[[column_name]]
word_df.columns = ["word"]
word_df

           word
0         Abaço
1        Aberçà
2        abersà
3        aburçá
4        Aburcé
...         ...
2517       Wine
2518      Zumbá
2519  Zomberías
2520   zombrias
2521  zombàrios

[2522 rows x 1 columns]

### IPA

In [3]:
file_name = "IPA_replacement_rules.csv"

IPA_rules = pd.read_csv(file_name, keep_default_na=False)
IPA_rules

                                                  reg  IPA
0                                                  z$    s
1                                                  c$    k
2                                                 tch  t̠ʃ
3                                                  ch  t̠ʃ
4                                                  dj  d̠ʒ
5                                                   j  d̠ʒ
6                                      g(?=[eéèêiíì])  d̠ʒ
7                                                  gg    g
8                                     gu(?=[eéèêiíì])    g
9                                                [vw]    ʋ
10                                                 nh    ɲ
11                                                 lh    ʎ
12  (?<=[aáàâãeéèêiíìoóòôõuúùû])s(?=[aáàâãeéèêiíìo...    z
13                                   s(?=[rmnlbdgvj])    z
14                                                 pp    p
15                             cc(?=[aáàâãoóòôõuúùû])    k
16                         c(?=[tkrlçaáàâãoóòôõuúùû])    k
17                                                 ck    k
18                                                 tt   tː
19                                    qu(?=[eéèêiíì])    k
20                                 q(?=u[aáàâãoóòôõ])    k
21                                                  q    k
22                                                 mm    m
23                                                 ny   nʲ
24                                                 ly   lʲ
25                                                 ff    f
26                                                 ph    f
27                                    sc(?=[eéèêiíì])    s
28                             sç(?=[aáàâãoóòôõuúùû])    s
29                                                 ss    s
30                                                  ç    s
31                                     c(?=[eéèêiíì])    s
32                                                 cs   ks
33                                                 cc    s
34                                                 ^r    r
35                                                 rr    r
36                                       (?<!r)r(?!r)    ɾ
37                                                 ll    l
38                                                  y    j
39                              (?<=[áàâéèêoóòôúùû])i    j
40                                                 sh    ʃ
41                                                  x    ʃ
42                                              [úùû]   uː
43                                             [óòõô]   oː
44                                                 aa    a
45                                             [àáãâ]   aː
46                                              [éèê]   eː
47                                              [íìî]   iː
48                              (?<=[ptkbdgmrɾsz])[j]    i
49                                                  h
50                                                  '    ə
51                                               [cq]   k

### Consonant and vowel classes

Before syllable parsing, we replace the phonemes by larger categories:

- T: corresponds to obstruents (consonants like T, which typically occur as first unit of an onset only);

- R: corresponds to sonorants (consonants like R, which typically occur as onset- first or second unit- or coda);

- V: corresponds to vowels;

- G: corresponds to glides.

In [4]:
file_name = "TRSVG_replacement_rules.csv"

TRSVG_rules = pd.read_csv(file_name, keep_default_na=False)
TRSVG_rules

    reg TRSVG
0     s     S
1     g     T
2     k     T
3     ʋ     T
4     ɲ     R
5     ʎ     R
6     z     S
7     p     T
8     b     T
9     t     T
10    m     R
11   nʲ     R
12    n     R
13   lʲ     R
14    f     T
15   ph     T
16    r     R
17    ɾ     R
18    l     R
19  d̠ʒ     T
20    d     T
21    j     R
22  t̠ʃ     T
23   T̠
24    ʃ     T
25   eu    VG
26   ei    VG
27   oi    VG
28   ou    VG
29   au    VG
30    u     V
31    o     V
32    a     V
33    e     V
34    i     V
35    ə     V
36    ː

### Consonant and vowel class exceptions

In [5]:
file_name = "TRSVG_exceptions.csv"

TRSVG_exceptions = pd.read_csv(file_name, keep_default_na=False)
TRSVG_exceptions

             reg          TRSVG
0       papagaia       papagVGa
1  peɾseguaisaːo  peɾseguVGsaːo
2     peɾsuaidiɾ     peɾsuVGdiɾ
3            aio            VGo

### Word split rules

In [6]:
file_name = "word_split_rules.csv"

word_split_rules = pd.read_csv(file_name, keep_default_na=False)
word_split_rules

      reg   split
0      VT     V.T
1     VGT    VG.T
2      RT     R.T
3      ST     S.T
4     VRV    V.RV
5    VRVG   V.RVG
6    VGRV   VG.RV
7   VGRVG  VG.RVG
8     RSV    R.SV
9    RSVG   R.SVG
10    TSV    T.SV
11   TSVG   T.SVG
12    VSV    V.SV
13   VGSV   VG.SV
14   VSVG   V.SVG
15  VGSVG  VG.SVG
16     RR     R.R
17     VV     V.V
18    VGV    VG.V
19    VVG    V.VG
20   VGVG    VGVG
21     TT     T.T
22     SR     S.R
23   SVSV   SV.SV
24  RVGRV  RVG.RV

## Preprocessing

Convert to lower case

In [7]:
word_df["word"] = word_df["word"].str.lower()
word_df

           word
0         abaço
1        aberçà
2        abersà
3        aburçá
4        aburcé
...         ...
2517       wine
2518      zumbá
2519  zomberías
2520   zombrias
2521  zombàrios

[2522 rows x 1 columns]

Remove spurious characters

In [8]:
chars = ['-','  ','\.\.\.']
subst = [' ',' ',' ']

preproc = {'chars': chars,
      'subst': subst}

preproc = dict(zip(preproc['chars'], preproc['subst']))

word_df['word'] = word_df['word'].replace(preproc, regex=True)

word_df

           word
0         abaço
1        aberçà
2        abersà
3        aburçá
4        aburcé
...         ...
2517       wine
2518      zumbá
2519  zomberías
2520   zombrias
2521  zombàrios

[2522 rows x 1 columns]

# Convert to IPA

In [9]:
word_df['IPA'] = word_df['word']

for row in IPA_rules.itertuples():
    word_df['IPA'] = word_df['IPA'].str.replace(row.reg, row.IPA, regex=True)
    
word_df

           word         IPA
0         abaço       abaso
1        aberçà     abeɾsaː
2        abersà     abeɾsaː
3        aburçá     abuɾsaː
4        aburcé     abuɾseː
...         ...         ...
2517       wine        ʋine
2518      zumbá      zumbaː
2519  zomberías  zombeɾiːas
2520   zombrias    zombɾias
2521  zombàrios  zombaːɾios

[2522 rows x 2 columns]

# Convert to consonant and vowel classes

In [10]:
word_df['TRSVG'] = word_df['IPA']

for row in TRSVG_exceptions.itertuples():
    word_df['TRSVG'] = word_df['TRSVG'].str.replace(row.reg, row.TRSVG, regex=True)

for row in TRSVG_rules.itertuples():
    word_df['TRSVG'] = word_df['TRSVG'].str.replace(row.reg, row.TRSVG, regex=True)
    
word_df

           word         IPA      TRSVG
0         abaço       abaso      VTVSV
1        aberçà     abeɾsaː     VTVRSV
2        abersà     abeɾsaː     VTVRSV
3        aburçá     abuɾsaː     VTVRSV
4        aburcé     abuɾseː     VTVRSV
...         ...         ...        ...
2517       wine        ʋine       TVRV
2518      zumbá      zumbaː      SVRTV
2519  zomberías  zombeɾiːas  SVRTVRVVS
2520   zombrias    zombɾias   SVRTRVVS
2521  zombàrios  zombaːɾios  SVRTVRVVS

[2522 rows x 3 columns]

# Split word

In [11]:
word_df['TRSVG_split'] = word_df['TRSVG']

for row in word_split_rules.itertuples():
    word_df['TRSVG_split'] = word_df['TRSVG_split'].str.replace(row.reg, row.split, regex=True)
    
word_df

           word         IPA      TRSVG   TRSVG_split
0         abaço       abaso      VTVSV       V.TV.SV
1        aberçà     abeɾsaː     VTVRSV      V.TVR.SV
2        abersà     abeɾsaː     VTVRSV      V.TVR.SV
3        aburçá     abuɾsaː     VTVRSV      V.TVR.SV
4        aburcé     abuɾseː     VTVRSV      V.TVR.SV
...         ...         ...        ...           ...
2517       wine        ʋine       TVRV         TV.RV
2518      zumbá      zumbaː      SVRTV        SVR.TV
2519  zomberías  zombeɾiːas  SVRTVRVVS  SVR.TV.RV.VS
2520   zombrias    zombɾias   SVRTRVVS    SVR.TRV.VS
2521  zombàrios  zombaːɾios  SVRTVRVVS  SVR.TV.RV.VS

[2522 rows x 4 columns]

# Convert to CV

In [12]:
chars = ['G','[SRT]']
subst = ['V','C']

to_cv = {'chars': chars,
      'subst': subst}

to_cv = dict(zip(to_cv['chars'], to_cv['subst']))

word_df['CV'] = word_df['TRSVG_split'].replace(to_cv, regex=True)

word_df

           word         IPA      TRSVG   TRSVG_split            CV
0         abaço       abaso      VTVSV       V.TV.SV       V.CV.CV
1        aberçà     abeɾsaː     VTVRSV      V.TVR.SV      V.CVC.CV
2        abersà     abeɾsaː     VTVRSV      V.TVR.SV      V.CVC.CV
3        aburçá     abuɾsaː     VTVRSV      V.TVR.SV      V.CVC.CV
4        aburcé     abuɾseː     VTVRSV      V.TVR.SV      V.CVC.CV
...         ...         ...        ...           ...           ...
2517       wine        ʋine       TVRV         TV.RV         CV.CV
2518      zumbá      zumbaː      SVRTV        SVR.TV        CVC.CV
2519  zomberías  zombeɾiːas  SVRTVRVVS  SVR.TV.RV.VS  CVC.CV.CV.VC
2520   zombrias    zombɾias   SVRTRVVS    SVR.TRV.VS    CVC.CCV.VC
2521  zombàrios  zombaːɾios  SVRTVRVVS  SVR.TV.RV.VS  CVC.CV.CV.VC

[2522 rows x 5 columns]

In [13]:
word_df.to_csv("crioulo_IPA_CV.csv", index = False, header = True)